/* src/LoginForm.css */
.student-login-container {
    height: 100vh;
  }
  
  .student-login-form-container {
    margin-top: 30px;
  }
  
  .student-login-form {
    max-width: 400px;
    margin-top: 30px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .student-login-form h2 {
    margin-bottom: 1em;
    text-align: center;
  }
  
  .student-login-form-group {
    margin-bottom: 1em;
  }
  
  .student-login-form-group label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .student-login-form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .student-login-submit-button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .student-login-submit-button:hover {
    background-color: rgb(67, 192, 67);
  }
  
  .student-login-instruction-container {
    text-align: center;
    padding-top: 15px;
  }